@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}

:root {
  --color-primary-white: #ffffff;
  --color-primary-blue: #2b7fff;
  --color-primary-black: #011c44;
  --color-secondary-brown: #4a4a4a;
  --color-secondary-grey: #747272;
  --color-secondary-navy: #011f4a;
  --color-secondary-yellow: #ffd02b;
}
/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: var(--color-primary-black);
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.7;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
address {
  font-style: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  display: inline-block;
}
.socials-link {
  text-decoration: none;
}
.socials-link:hover {
  fill: var(--color-primary-white);
}
.socials-icon-bottom {
  fill: var(--color-primary-white);
}
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 24px;
}
/* Button */
.button-top {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-primary-white);
  line-height: 1.2;
  background-color: var(--color-primary-blue);
  border: 2px solid var(--color-primary-blue);
  border-radius: 32px;
  cursor: pointer;
  width: 219px;
  height: 53px;
}
.button-top:hover {
  color: var(--color-primary-blue);
  background-color: transparent;
}
.button-bottom {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-primary-white);
  line-height: 1.2;
  background-color: var(--color-primary-blue);
  border: 2px solid var(--color-primary-blue);
  border-radius: 32px;
  cursor: pointer;
  width: 281px;
  height: 53px;
}

.button-bottom:hover {
  color: var(--color-primary-blue);
  background-color: transparent;
}
/* Header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 32px;
}
.header-manu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}
/* Link */
.link {
  color: var(--color-primary-black);
  font-size: 18px;
  text-decoration: none;
}
.link:hover {
  color: var(--color-primary-blue);
  font-weight: 700;
}
/* Hero section*/
.before-title {
  font-size: 18px;
  margin-bottom: 16px;
}
.after-title {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 14px;
}
.hero-title {
  color: var(--color-primary-blue);
  font-family: Play, sans-serif;
  text-align: left;
  font-size: 140px;
  font-weight: 700;
  width: 529px;
  line-height: 0.8;
  margin: 0;
  padding: 0 0 40px 0;
}
.hero-section {
  padding: 59px 0 166px 0;
  background-image: url(./images/background_hero-section.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* Section 2*/
.section-title {
  color: var(--color-primary-black);
  font-family: Play, sans-serif;
  font-size: 64px;
  font-weight: 700;
}
.section-title.centered {
  text-align: center;
  margin-bottom: 48px;
}
.section-title.no-line-height {
  line-height: 0;
  margin-bottom: 85px;
}
.sec-about-title {
  line-height: 1.2;
  max-width: 500px;
}
.about-us-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-bottom: 90px;
}
.about-us-content {
  max-width: 650px;
}
.section-about-us {
  margin-bottom: 40px;
}
.why-us-title {
  width: 529px;
  line-height: 1.1;
  margin: 20px auto;
}
.accent {
  color: var(--color-primary-blue);
}
.accent1 {
  font-weight: 600;
}

.face-lift-img1 {
  position: absolute;
  width: 270px;
  border-radius: 50%;
  overflow: hidden;
  left: 837px;
  right: -845px;
  top: 656px;
  bottom: -657px;
}
.face-lift-img2 {
  position: absolute;
  width: 270px;
  border-radius: 50%;
  overflow: hidden;
  left: 1005px;
  right: -1021px;
  top: 1024px;
  bottom: -1024px;
}
.star1 {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 958px;
  right: 1530.13px;
  top: 1025px;
  bottom: 1461.89px;
  transform: rotate(-30deg);
}
.star2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 1332px;
  right: 1180.13px;
  top: 689px;
  bottom: 1821.89px;
  transform: rotate(30deg);
}
.star3 {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 1313.11px;
  right: 1223.02px;
  top: 932.68px;
  bottom: 1602.21px;
  transform: rotate(-22.91deg);
}
/* Section 3*/
.why-choose-us {
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
}
.container.wave {
  padding-top: 170px;
  padding-bottom: 133px;
  width: 100%;
  height: 100%;
  background-image: url(./images/background-wave.png);
  background-position: center top;
  background-size: 150%;
}
.why-us-card {
  height: 181px;
  width: 316px;
  border-radius: 32px;
  background-color: var(--color-primary-white);
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}
.why-us-list {
  display: flex;
  gap: 56px;
  flex-wrap: wrap;
}
.why-us-item {
  flex-basis: calc((100% - 112px) / 3);
}
.why-us-icons {
  width: 40px;
  height: 44px;
}
.section-why-us {
  width: 432px;
  line-height: 1.1;
}
/* Procedures section */
.procedures-description {
  line-height: 1.2;
  /*color: var(--color-primary-white);*/
}
.procedures-container {
  display: flex;
  gap: 32px;
  align-items: center;
  padding-bottom: 96px;
}
.procedures-card {
  padding: 0 77px 0 115px;
  background-image: linear-gradient(
    rgba(1, 28, 68, 0) 48.529%,
    rgba(1, 28, 68, 0.73) 84.641%,
    rgb(1, 28, 68) 101.43%
  );
  height: 456px;
  width: 344px;
  border: 1px solid var(--color-primary-blue);
  border-radius: 4px 120px;
}
.procedures-list {
  display: flex;
  gap: 16px;
  /*flex-wrap: wrap; needed when creating a scroll 
  with more items but does not seem to work in this case*/
}
.procedures-item {
  flex-basis: calc((100% - 32px) / 3);
}
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  fill: var(--color-primary-black);
  border-color: var(--color-primary-black);
}
/* Contacts section */
.contact-container {
  display: flex;
  gap: 32px;
  margin-bottom: 96px;
}
.contact-map {
  flex: none;
  flex-shrink: 0;
  border: none;
  border-radius: 32px;
}
.contact-form {
  flex: 1;
}
.get-in-touch {
  font-weight: 600;
  margin-bottom: 32px;
}
.get-in-touch-bottom {
  font-size: 12px;
  color: var(--color-secondary-grey);
  margin-bottom: 8px;
}
/*Footer*/
.privacy-policy {
  text-decoration: underline;
  color: var(--color-secondary-grey);
}
.footer {
  background-color: var(--color-secondary-navy);
  background-image: url("./images/footer_photo.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  color: var(--color-primary-white);
  font-size: 16px;
  line-height: 1.2;
  padding: 56px 0;
}
.footer-container {
  display: flex;
  gap: 20px;
}
.footer-address,
.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}
.footer-logo,
.footer-manu {
  flex-grow: 1;
}
.address-info,
.address-list {
  flex-grow: 1;
}
.footer-link {
  color: var(--color-primary-white);
  text-decoration: none;
}
.footer-link:hover {
  color: var(--color-primary-blue);
}
.address-copyright {
  font-size: 13px;
  color: var(--color-secondary-grey);
}
