/* Section 2*/
.about-us-section {
  position: relative;
  height: 500px;
  margin: 0;

  @media screen and (min-width: $bp-tablet) {
    height: 600px;
  }

  @media screen and (min-width: $bp-desktop) {
    margin-top: 65px;
  }

  &__container {
    display: block;
    gap: 40px;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      justify-content: space-between;
      gap: 40px;
    }
  }
  &__content {
    max-width: 450px;

    @media screen and (min-width: $bp-tablet) {
      max-width: 650px;
    }
  }
  &__title {
    line-height: 1.2;
    max-width: 250px;
    margin-bottom: 40px;

    @media screen and (min-width: $bp-tablet) {
      max-width: 500px;
    }
  }
  p:last-child {
    margin-bottom: 0;
  }
  &__p {
    font-weight: 600;
  }
  &__img1 {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: absolute;
      width: 270px;
      border-radius: 50%;
      overflow: hidden;
      left: 55%;
      top: -9%;
    }
  }
  &__img2 {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      position: absolute;
      display: block;
      width: 270px;
      border-radius: 50%;
      overflow: hidden;
      left: 68%;
      top: 40%;
    }
  }
  &__star1 {
    position: relative;
    width: 60px;
    left: 62%;
    top: 35%;
    transition: transform 2s;
    animation: rotateStars 5s linear infinite;

    @media screen and (min-width: $bp-desktop) {
      position: absolute;
    }
  }
  &__star2 {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      left: 90%;
      top: -5%;
      transition: transform 2s;
      animation: rotateStars 5s linear infinite;
    }
  }
  &__star3 {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 87%;
      top: 33%;
      transition: transform 2s;
      animation: rotateAndScaleStar3 5s linear infinite;
    }
  }
  @keyframes rotateStars {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rotateAndScaleStar3 {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(180deg) scale(3);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }
}
