/* Button */
.button {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-primary-white);
  line-height: 1.2;
  background-color: var(--color-primary-blue);
  border: 2px solid var(--color-primary-blue);
  border-radius: 32px;
  cursor: pointer;
  height: 53px;
  transition: color 0.2s, background-color 0.2s;
  &:hover {
    color: var(--color-primary-black);
    background-color: transparent;
  }
}
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--color-primary-white);
  cursor: pointer;
  border-radius: 50%;
  fill: var(--color-primary-black);
  border-color: var(--color-primary-black);
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    fill: var(--color-primary-white);
    background-color: var(--color-primary-blue);
    border-color: var(--color-primary-blue);
  }
}
