/*Footer*/
.footer {
  position: relative;
  background-color: var(--color-primary-black);
  color: var(--color-primary-white);
  font-size: 16px;
  line-height: 1.2;
  padding: 56px 0;

  &::after {
    background-image: url(../images/footer_photo.svg);
    position: absolute;
    width: 300px;
    height: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    content: "";
    right: -2%;
    bottom: -52%;
    clip-path: polygon(0 0, 100% 0, 100% 55%, 0 55%);
  }

  &__container {
    display: flex;
    gap: 20px;
  }
  &__address,
  &__nav {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
  }
  &__logo,
  &__manu {
    flex-grow: 1;
  }
  &__link {
    color: var(--color-primary-white);
    text-decoration: none;
    margin-bottom: 16px;
    transition: color 0.2s;
  }
  &__link:hover {
    color: var(--color-primary-blue);
  }
  &__address-info,
  &__address-list {
    flex-grow: 1;
  }
  &__address-copyright {
    font-size: 13px;
    color: var(--color-secondary-grey);
  }
  &__icons {
    fill: var(--color-primary-white);
    display: flex;
    gap: 40px;
  }
}
