/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 15px 32px;

  @media screen and (min-width: $bp-desktop) {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 32px;
  }
  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 15px 56px;
      flex-grow: 1;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__menu li a {
    min-width: 150px;
    display: flex;
    justify-content: center;
  }

  &__socials {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }
  &__burger {
    display: block;
    fill: var(--color-primary-white);
    background-color: transparent;
    border: none;
    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
